[project]
	description = Xiaomi Redmi 1S kernel tree
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stanley (AngSanley)
[access "refs/for/refs/*"]
	read = group user/Stanley (AngSanley)
	push = group user/Stanley (AngSanley)
	label-Code-Review = -2..+2 group user/Stanley (AngSanley)
	label-Verified = -1..+1 group user/Stanley (AngSanley)
	rebase = group user/Stanley (AngSanley)
	removeReviewer = group user/Stanley (AngSanley)
	submit = group user/Stanley (AngSanley)
[access "refs/heads/*"]
	read = group user/Stanley (AngSanley)
	create = group user/Stanley (AngSanley)
	push = +force group user/Stanley (AngSanley)
	pushMerge = group user/Stanley (AngSanley)
[access "refs/tags/*"]
	push = +force group user/Stanley (AngSanley)
	pushTag = group user/Stanley (AngSanley)
	pushSignedTag = group user/Stanley (AngSanley)
